.head {
  background: linear-gradient( #000, #000 80% , rgba(11,11,11,.4) );
}

.showcase {
  padding: 10rem 0;
  background: linear-gradient(rgba(11,11,11,.4) , rgba(0,0,0,.85) 25%, rgba(0,0,0,.85) 75%, rgba(11,11,11,.4) );
}

.gif-off::before {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background: url(../img/play-btn.png) no-repeat center;
  background-size: 20%;
  pointer-events: none;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: 0.0625em;
  background:  url(../img/bckg.jpg), black;
  background-repeat: repeat;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.img-fluid {
  transition: all 0.3s;
}

.img-fluid:hover {
  z-index: 1;
  transform: scale(1.05);
}
.loader {
position: absolute;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #fff; 
  border-radius: 50%;
  width: 20%;
  content: '     ';
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.social {
  z-index: 100;
  position: fixed;
  right: 0.5rem; 
  top: 1rem;
}

.icon {
  margin: 0.25rem;
  opacity: 0.4;
  display: block;
  height: 4rem;
  width: 4rem;
  transition: all 0.3s;
}

.icon:hover{
  opacity: 0.8;
  transform: scale(1.05);
}